
@{
    ViewBag.Title = "CartWithoutProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    
<div class="breadcrumb">
    <div class="pcontainer">
        <p class="productitle">Your Shopping Cart</p>
        <a class="pathlink" href="//Views/Home/Index.cshtml"><span class="path">Home</span></a>
        <span class="patharrow">></span>
        <span class="pathsub">Your Shopping Cart</span>
    </div>
</div>

<div style="margin-left: 30%">
    <h2 style="font-weight: 400; font-style: normal; font-size: 30px; line-height: 36px">Shopping Cart</h2>
    <h3 style="font-size: 24px;line-height: 30px;font-weight: 400;
    font-style: normal;">
        Your cart is currently empty!
    </h3>
    <p style="font-weight: 400;font-style: normal;">Continue browsing <a class="emptycarta" href="/Home">here</a>.</p>
</div>

