@using Eshop.Models.TemporaryClasses
@using Eshop.Models.Checkout
@model BigModelForInformation




<div>
    <a class="checkoutdebralogoa" href="/Home"><img id="checkoutdebralogoaresponsive" class="checkoutdebralogo" src="~/Icons/debra-logo-b_300x.png" alt="Alternate Text" /></a>
    <div class="checkoutcustomhr checkoutcustomhrresponsive"></div>
</div>
<div class="checkoutmainwrapper">
    @{Html.RenderPartial("InputsForCheckoutCustomer", Model.InformationAboutCustomer);}
    @{Html.RenderPartial("ProductSide", Model.Data);}
</div>
