<div class="breadcrumb">
    <div class="pcontainer">
        <p class="productitle">About</p>
        <a class="pathlink" href="//Views/Home/Index.cshtml"><span class="path">Home</span></a>
        <span class="patharrow">></span>
        <span class="pathsub">About</span>
    </div>
</div>
<div class="aboutpagewrapper">
    <div class="aboutmainwrapper">
        <div>
            <img class="aboutimg" src="~/Icons/Images/about.png" alt="Alternate Text" />
        </div>
        <div class="aboutsubwrapper1">
            <div>
                <h1 class="abouth1 abouttext">WELCOME TO <span class="abouth1span">VESOZ</span></h1>
                <p class="aboutp abouttext">Timekeeper provide how all this mistaken idea of denouncing pleasure and sing pain was born an will give you a complete account of the system, and expound the actual teachings of the eat explorer of the truth, the mer of human.</p>
            </div>
            <div>
                <p class="aboutpbig abouttext">WIN BEST ONLINE SHOP AT 2020</p>
                <p class="aboutp abouttext">Timekeeper provide how all this mistaken idea of denouncing pleasure and sing pain was born an will give you a complete account of the system, and expound the actual teachings of the eat explorer of the truth, the mer of human.</p>
            </div>
        </div>
    </div>
    <div class="aboutthreesections">
        <div class="aboutsection">
            <p class="aboutpbig abouttext aboutsectionp">OUR VISION</p>
            <p class="aboutp abouttext">Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.</p>
        </div>
        <div class="aboutsection">
            <p class="aboutpbig abouttext aboutsectionp">OUR MISSION</p>
            <p class="aboutp abouttext">Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.</p>
        </div>
        <div class="aboutsection">
            <p class="aboutpbig abouttext aboutsectionp">OUR GOAL</p>
            <p class="aboutp abouttext">Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.</p>
        </div>
    </div>
    <div class="aboutimageswrapper">
        <a class="aboutimagea" href="#"><img src="/Icons/about1.jpg" alt="Alternate Text" /></a>
        <a class="aboutimagea" href="#"><img src="/Icons/about2.jpg" alt="Alternate Text" /></a>
        <a class="aboutimagea" href="#"><img src="/Icons/about3.jpg" alt="Alternate Text" /></a>
        <a class="aboutimagea" href="#"><img src="/Icons/about4.jpg" alt="Alternate Text" /></a>
        <a class="aboutimagea" href="#"><img src="/Icons/about5.jpg" alt="Alternate Text" /></a>
    </div>
</div>
